.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .dropdown{
  margin: 0px auto;
  height: 500px;
  width: 400px;
  overflow-y: scroll auto;
  
  
} */
.table_data{
  background-color: #abbcdde0;
  margin: 0px auto;
  height: 300px;
  width: 100%;
}
.table_data th{
  padding: 30px;
}
.table_data td{
  padding: 30px;
}
.airline_table{
  background-color: #104ec9e0;
  margin: 0px auto;
  height: 300px;
  width: 100%;
  padding-left: 20px;
}
.airline_table th{
  padding: 10px;
  padding-top: 100px;
  
}
/* .airline_table th img{
  height: 100px;
  width: 300px;
  background-color: red;
  padding-top: 0px;
} */
.airline_table p{

background-color: red;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
padding-top: 20px;

}
/* .droped{
  /* height: 300px;
  width: 400px; */
  /* margin: 0px auto;
  background-color: red; */

/* .optant{
 
  background-color: rgb(204, 186, 186);
  height: 30px;
  width: 80px;
  margin: 0px auto;
  padding-left: 300px;

} */
.centered{
  margin: 0px auto;
  height: 400px;
  min-width: 20px;
  margin-left: 500px;
  margin-right: 600px;
  margin-top: 5px;
  /* margin-bottom: 100px; */
  background-color: rgb(248, 239, 239);
  overflow-y: scroll ;
  overflow-x: hidden;
}
.buton{
  width: 430px;
  height: 40px;
  margin-left: 500px;
  margin-top: 200px;

}
